* {
	padding: 0;
	margin: 0;
	max-width: 1920px;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

header, body {
	background-image: url('../images/header_background.jpg');
}

a {
	text-decoration: none;
	color: white;
}

ul {
	list-style: none;
}

.container {
	max-width: 1920px;
	background-color: white;
}

header {
	display: inline-flex;
	text-align: top;
	width: 100%;
}

header h3 {
	text-align: left;
	padding-left: 100px;
	padding-top: 30px;
	width: 35%;
	font-size: 30px;
	font-family: Jost;
	font-weight: 700;
	line-height: 48px;
}

header h4 {
	text-align: right;
	padding-right: 100px;
	padding-top: 30px;
	width: 30%;
	font-size: 30px;
	font-family: Jost;
	font-weight: 600;
	line-height: 48px;
}

header nav {
	width: 35%;
	text-align: center;
	padding-top: 38px;
}

nav a{
	font-size: 20px;
	font-family: Jost;
	font-weight: 400;
	line-height: 32px;
	padding: 0px 20px;
}

.title {
	display: inline-flex;
}

.title_text {
	width: 518px;
	padding-top: 344px;
	padding-left: 340px;
}

.title_text  h1{
	color: white;
	font-size: 60px;
	font-family: Jost;
	font-weight: 600;
	line-height: 112px;
	width: 516;
}

.title_text span {
	width: 478px;
	color: white;
	font-size: 20px;
	font-family: Jost;
	font-weight: 400;
	line-height: 32px
}

.button_container {
	margin-top: 50px;
	text-align: center;
	justify-content: center;
	border-radius: 5px;
	display: inline-flex;
	padding: 27px 25px;
	background-color: red;
	color: #F9F9F9;
}

.title_image {
	height: 100%;
	position: relative;
	text-align: right;
}

.title_image img {
	width: 515.52px;
	height: 917.48px;
	left: 132.99px;
	top: 0px;
	position: absolute;
}

.title_circle {
	width: 603px;
	height: 603px;
	left: 0px;
	position:
	absolute;
	border-radius:
	9999px;
	border:
	80px white solid;
	top: 104px;
	left: 10px;
}

.about {
	margin-top: 360px;
	height: 614px;
	background-color: white;
	padding-top: 120px;
}

.about .container {
	padding-left: 380px;
}

.about .about_title {
	color: #141024;
	font-size: 20px;
	font-family: Jost;
	font-weight: 400;
	line-height: 42px;
}

.about strong {
	color: #141024;
	font-size: 24px;
	font-family: Jost;
	font-weight: 600;
	line-height: 46px;
}

.about_items {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 50px 50px;
	padding-bottom: 120px;
}

.about_items strong{
	display: inline;
	color: #D52027;
	font-size: 70px;
	font-family: Jost;
	font-weight: 600;
	line-height: 112px;
	justify-content: center;
	padding-right: 100px;
}

.about_items_text span {
	color: rgba(20, 16, 36, 0.70);
	font-size: 18px;
	font-family: Jost;
	font-weight: 400;
	padding-right: 20px;
}

.what_we_can {
	background-color: #F9F9F9;
	padding-top: 100px;
	padding-left: 381px;
}

.what_we_can h3 {
	font-size: 50px;
	font-family: Jost;
	font-weight: 600;
	line-height: 80px;
}

.what_we_can__list {
	padding-top: 60px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding-bottom: 100px;
}

.what_we_can__list span {
	color: rgba(20, 16, 36, 0.70);
	font-size: 18px;
	padding-right: 40px;
}

.what_we_can__list img {
	padding-left: 10px;
	padding-bottom: 10px;
}

.teacher_title {
	padding-top: 120px;
}

.teachers_list {
	display: inline-flex;
	justify-content: space-around;
}

.teachers_list img {
	border-radius: 35px;
}

.teachers_list span {
	padding-top: 40px;
}

.teachers_list a {
	color: #D52027;
}

.teachers_list li {
	margin-top: 60px;
	margin-right: 40px;
}

.teachers_list h4 {
	padding-top: 20px;
}

.teacher_nav {
	margin-top: 60px;
	justify-content: center;
	padding-bottom: 120px;
}

.ProductBlockThree_list {
	display: flex;
	justify-content: center;
}

.ProductBlockThree_item {
	border: 1px solid gray;
	border-radius: 20px;
	margin: 80px 20px 80px 20px;
	display: flex;
	text-align: center;
	flex-flow: column;
	height: 460px;
}

.ProductBlockThree_item:first-child {
	height: 480px;
}

.ProductBlockThree_title {
	text-align: center;
}

.ProductBlockThree_item_title {
	padding: 40px;
}

.ProductBlockThree_item_price {
	font-size: 50px;
	font-family: Jost;
	font-weight: 600;
	line-height: 80px;
	word-wrap: break-word;
	padding-bottom: 10px;
}

.ProductBlockThree_item_info {
	width: 205px;
	height: 58px;
	font-size: 12px;
	font-family: Jost;
	font-weight: 400;
	line-height: 28.80px;
}

.ProductBlockThree_item:first-child {
	background: #141024;
	color: #F9F9F9;
}

.ProductBlockThree_item .button_container {
	margin: 40px;
}